/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

.top {
  height: 31px;
  background-color: #f1f1f1;
}

.top .left_top {
  float: left;
  font-size: 12px;

}

.top .left_top h4 {
  display: inline-block;
  font-weight: normal;
  line-height: 31px;

}

.top .left_top a {
  margin-left: 10px;
  color: #c81623;

}

.top .list_of_mine {
  float: right;
}

/* 这种一排的被用过太多次了，所以直接写一个class用 */
.right_border_list {
  float: left;
  padding: 0 15px;
  margin: 8px 0;
  border-right: 1px solid #666;
}

/* .top .list_of_mine ul li {
  float: left;
  padding: 0 15px;
  margin: 8px 0;
  border-right: 1px solid #666;
} */

header {
  height: 105px;
  padding: 27px 0;
}

header .logo {
  float: left;
  margin-right: 42px;
}

header .search_section {
  float: left;
  width: 730px;
  height: 56px;
  padding-left: 128px;
}

header .search_section .search {
  width: 538px;
  height: 36px;
}

header .search_section .search input {
  width: 456px;
  height: 100%;
  padding: 0 10px;
}

header .search_section .search button {
  width: 82px;
  height: 100%;
}

header .search_section .suggestion {
  margin: 0 10px;
}

header .search_section .suggestion ul li{
  display: inline;
  padding-right: 25px;
}

header .cart {
  float: right;
  padding-left: 46px;
}

header .cart button {
  display: block;
  width: 140px;
  height: 35px;
}

