* {
    margin: 0;
    padding: 0;
}

/* 此处是版心属性 */
.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

/* 因为所有的几乎都不要样式，所以放在开头的位置 */
li {
    list-style: none;
} 

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content:"";
    display: table;
}
.clearfix::after {
    clear:both;
}
.clearfix {
    *zoom:1;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.header .logo {
    float: left;
    width: 198px;
    height: 42px;
}

.header .nav {
    float: left;
    margin-left: 60px;
    /* 宽度不用给，万一以后nav要加东西，盒子可以跟着撑开 */
}

.header .nav ul li {
    float: left;
    margin: 0 15px;
}

.header .nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* search part */
.header .search {
    float: left;
    height: 42px;
    width: 412px;
    margin-left: 70px;
}

.header .search input {
    float: left;
    width: 345px;
    height: 40px;
    font-size: 14px;
    color: #bfbfbf;
    border: 1px solid #00a4ff;
    border-right: none; 
    padding-left: 15px;
}

.header .search button {
    float: left;
    width: 50px;
    height: 42px;
    background-image: url(images/button.png);
    /* background-repeat: no-repeat;是不需要的，因为图片高度只有40px，我们需要平铺图片 */
    /* button默认有个边框需要我们手动去除 */
    border: 0;
}

.header .user {
    float: right;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    margin-right: 30px;
}

/* banner part */
.banner {
    height: 421px;
    background-color: #1c036c
}

.banner .w {
    height: 421px;
    /* background : background-color background-image background-repeat background-attachment background-position; */
    background: url(images/download.png) no-repeat top center;
}

.banner .w .subnav {
    float: left;
    height: 421px;
    width: 190px;
    background: rgba(0, 0, 0, .3)
}

.banner .w .subnav ul li {
    /* a属于行内元素是没有高度的，所以设置li的高度 */
    /* 只有块元素才可以默认“继承”其父元素的width. */
    /* 浮动元素和定位元素也是不默认（不自动）“继承”其父元素宽度的。 */
    /* background-color: burlywood; */
    height: 45px;
    line-height: 45px;
    /* 没有特别设定宽度，只是继承的话，padding不撑开盒子 */
    padding: 0 20px;
}

.banner .w .subnav ul li a {
    color: #fff;
    font-size: 14px;
}

.banner .w .subnav ul li a span {
    float: right;
    /* background-color: orange; */
}

.banner .w .subnav ul li a:hover {
    color: #00a4ff
}

.banner .w .course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: white;
    /* 父盒子里子盒子设置margin-top会出现外边局合并的问题
       但是浮动的盒子不出现此问题 */
    margin-top: 50px;
}

.banner .w .course h2 {
    height: 48px;
    font-size: 18px;
    background-color: #9bceea;
    line-height: 48px;
    text-align: center;
    color: #fff;
}

.banner .w .course .main {
    padding: 0 20px;
}

.banner .w .course .main ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.banner .w .course .main ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.banner .w .course .main ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .w .course .main a {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #00a4ff;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
    margin-top: 3px;
}

/* goods part */
.goods {
    height: 60px;
    /* 行高会继承给孩子 */
    line-height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    margin-top: 10px;
    /* 此处加padding的话会撑开盒子，因为w版心这段加了宽度 */
}

.goods h3 {
    float: left;
    font-size: 16px;
    color: #00a4ff;
    margin-left: 30px;
    /* margin-right: 30px; */
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li{
    float: left;    
}

.goods ul li a{
    /* 这个属性给a是为了可点击范围足够大 */
    font-size: 16px;
    color: #050505;
    /* 行内元素不能设置宽高，但可以设置padding，margin */
    /* 行内元素只能给左右内外边框 */
    padding: 0 30px;
    border-left: 1px solid #ccc
}

.goods .mod {
    float: right;
    font-size: 14px;
    color: #00a4ff;
    margin-right: 30px;
}

/* goods details parts here */
.box {
    margin-top: 30px;
}
.box .hd {
    height: 45px;
}

.box .hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box .bd ul {
    width: 1225px;
}

/* 把li的父亲ul修改的足够宽：一行能放下五个盒子，就不用换行了 */
.box .bd ul li{
    float: left;
    width: 228px;
    height: 270px;
    background-color: white;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box .bd ul li img {
    /* 图片较大，需要把图片修改到和父亲一样宽 */
    width: 100%;
}

.box .bd ul li h4 {
    font-size: 14px;
    color: #050505;
    font-weight: 400;
    margin: 20px 20px 20px 25px;

}

.box .bd ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box .bd ul li .info span{
    color: #ff7c2d;
}

.footer {
    height: 415px;
    background-color: white;
}

.footer .w {
    padding-top: 35px;
}

.footer .w .copyright {
    /* 浮动的盒子自动检测宽度，所以不用给宽 */
    float: left;
}

.footer .w .copyright p{
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .w .copyright .app{
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #00a4ff;
    font-size: 16px;
    width: 118px;
    border: 1px solid #00a4ff;
}

.footer .w .links {
    float: right;
}

.footer .w .links dl {
    float: left;
    margin-left: 100px;
}

.footer .w .links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.footer .w .links dl dt dd a{
    font-size: 12ßpx;
}

