

/* navigation part */

/* navigation .navigation bar starts here */
nav {
  height: 512px;
}

nav .navigation_bar{
  height: 45px;
  border-bottom: 2px solid #b1191a;
  font-size: 16px;
  line-height: 45px;

}

nav .navigation_bar .context_title {
  float: left;
  width: 210px;
  height: 100%;
  background-color: #b1191a;
  margin-right: 10px;
  color: #fff;
  text-align: center;
}

nav .navigation_bar .context_title h4 {
  font-weight: normal;
}

nav .navigation_bar ul {
  float: left;
}
nav .navigation_bar ul li {
  display: inline-block;
  padding: 0 30px;

}

/* navigation .banner starts here */
nav .banner {
  height: calc(100% - 46px);
}

nav .banner .table_contents {
  float: left;
  width: 210px;
  height: 100%;
  background-color: #c81623;
  font-size: 14px;
}

nav .banner .table_contents ul {
  height: 100%;
}

nav .banner .table_contents li {
  position: relative;
  height: calc(100% / 15);
  line-height: 31px;
  padding: 0 10px;
  transition: all .5s;
}

nav .banner .table_contents li::after {
  position: absolute;
  right: 10px;
  content: '';
  font-family: 'icomoon';
  color: #fff;
}

nav .banner .table_contents li:hover {
  background-color: #fff;
  padding-left: 20px;
}

nav .banner .table_contents li:hover a{
  color:#c81623;
  transition: all .5s;

}

nav .banner .table_contents li a {
  color: #fff;
}

nav .banner .main_pic {
  position: relative;
  float: left;
  width: 720px;
  height: 455px;
  margin: 10px;
  margin-bottom: 0;
  background: url(../images/banner.png) no-repeat center;
}

nav .banner .main_pic .left, .right {
  position: absolute;
  top: calc(100% / 2 - 20px);
  width: 20px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0 , .5);
  font-family: 'icomoon';
  text-align: center;
  font-size: 22px;
}

nav .banner .main_pic .left {
  left: 0;
}

nav .banner .main_pic .right {
  right: 0;
}

nav .banner .main_pic .bottom {
  position:absolute;
  bottom: 10px;
  left: calc(100% / 2 - 50px);
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0,0,0, .5);
}

nav .banner .main_pic .bottom li {
  float: left;
  width: 25px;
  height: 100%;
  line-height: 20px;
  text-align: center;
}
nav .banner .main_pic .bottom li a {
  font-family: 'icomoon';
  color: white;
}

nav .banner .main_pic .bottom li a:hover {
  color: #c81623;
}

/* nav new_shortcut starts here */
nav .news_shortcut {
  position: relative;
  float: left;
  width: 250px;
  height: calc(100% - 10px);
  margin-top: 10px;
}

nav .news_shortcut .news {
  height: 163px;
  border: 1px solid #e4e4e4;
  margin-bottom: 0;
}

nav .news_shortcut .news .news_topic {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dotted #e4e4e4;
  padding: 0 15px;
}

nav .news_shortcut .news .news_topic h3 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}

nav .news_shortcut .news .news_topic .more {
  float: right;
  font-size: 12px;
}

nav .news_shortcut .news ul{
  height: calc(100% - 32px);
  padding: 0 15px;;

}

nav .news_shortcut .news ul li {
  height: calc(100% / 5);
  line-height: 26px;
}


nav .news_shortcut .shortcut ul li {
  position: relative;
  float: left;
  width: calc(250px / 4);
  height: 70px;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  background: url(../images/sign.png) no-repeat center 12px;

}


nav .news_shortcut .shortcut ul li:nth-child(4n + 1) {
border-left: 1px solid #e4e4e4;
}


nav .news_shortcut .shortcut li span {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 1em);
}

nav .news_shortcut .adad {
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 75px;
  background: url("../images/adad.png") no-repeat center;
}


.suggestion {
  height: 163px;
  margin-top: 10px;

}

.suggestion .today_suggestion {
  float: left;
  width: 206px;
  height: 100%;
  background-color: #5c5251;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.suggestion .today_suggestion .clock {
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  font-family: 'icomoon';
  font-size: 30px;
}

.suggestion .today_suggestion .timer {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}

.suggestion .today_suggestion .timer li {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  margin: 0 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}


.suggestion .great_items {
  float: left;
  width: calc(100% - 206px);
  height: 144px;
  margin: 10px 0;
  padding-left: 13px;
}


.suggestion .great_items li {
  float: left;
  width: calc(100% / 4);
  border-right: 1px solid #dddddd;
}


/* guess what you like part starts here */
.guess_like {
  height: 262px;
  margin-top: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.guess_like .guess_name {
  height: 30px;
  font-weight: normal;
  color: #333333;
  border-bottom: 1px solid #e4e4e4;
}

.guess_like .guess_name h2 {
  float: left;
  font-size: 18px;
}
.guess_like .guess_name h4 {
  float: right;
  font-size: 12px;
}

.guess_like .item_list {
  color: #666;
}

.guess_like .item_list li {
  float: left;
  width: calc(1200px / 6);
  height: 236px;
}

.guess_like .item_list li .pic {
  height: 160px;
  width: 100%;
  background: url(../upload/bag.png) no-repeat center;
}

.guess_like .item_list li .info {
  width: 100%;
  padding: 0 35px;
  border-right: 1px solid #e4e4e4;
}
.guess_like .item_list li .info p {
  height: 40px;
  line-height: 20px;
  font-size: 12px;
}

.guess_like .item_list li .info .price {
  font-size: 18px;
  color: #df3033;
}

/* 家用电器 electrics starts here */
.electrics {
  margin-top: 30px;
  height: 476px;
}


.electrics .title {
  height: 30px;
  border-bottom: 1px solid #c81623;
}
.electrics .title h2 {
  float: left;
  font-size: 18px;
  font-weight: normal;
  color: #c81623;
}


.electrics .title ul {
  float: right;
}

.electrics .title ul li {
  font-size: 12px;
}


.electrics .details {
  height: 364px;
}

.electrics .details .tv {
  float: left;
  width: 210px;
  height: 100%;
}

.items_list {
  margin-bottom: 25px;
}

.bottom_border {
  float: left;
  border-bottom: 1px solid #e4e4e4;
  width: 85px;
  text-align: center;
  padding: 10px 0;
  margin-left: 13px;
  font-size: 12px;
  color: #666;
}

.electrics .details .tv h2 {
  font-size: 18px;
  color: #c81623;
  text-align: center;
}


.electrics .details .tv p {
  font-size: 12px;
  color: #c81623;
  margin: 0 auto;
  text-align: center;
}

.electrics .details .tv img {
  margin: 20px;
}

.details .boiling_pot {
  float: left;
  width: 330px;
  height: 100%;
  background-color: #aed6d8;
  color: #3d8592;

}

.details .boiling_pot .item_name {
  margin: 40px 0 0 30px;
  font-size: 18px;
  font-weight: normal;
}

.details .boiling_pot .price {
  margin-left: 30px;
  font-size: 16px;
}

.details .boiling_pot .img {
  margin: 30px;
}
.details .sec_one, .sec_two, .sec_three {
  float: left;
  width: 220px;
  height: 100%;
}

.details .square {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 20px 0 0 15px;
  border: 1px solid #e4e4e4;
  border-top: 0;

}

.details .square .text {
  font-size: 16px;
  color:#000;
}


.details .square .price {
  font-size: 16px;
  color:#e60012;
}

.details .square .img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.details .square img {
  height: 90px;
}

.details .sec_two {
  text-align: center;
  padding: 70px 20px;
  border-bottom: 1px solid #e4e4e4;
}

.details .sec_two .text {
  font-size: 18px;
  color:#000
}

.details .sec_two .price {
  margin-bottom: 80px;
  font-size: 16px;
  color: #999;
}



.fixed_bar {
  position: fixed;
  background-color: transparent;
  z-index: 3;
  top: 150px;
  left: calc((100% - 1200px) / 2 - 68px - 10px);
  width: 68px;
  height: 344px;
}

.fixed_bar li {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
}

.fixed_bar li:hover a {
  color: #c81623;

}

